body, html{
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family:sans-serif;
}
#main{
	position: absolute;
	width:450px;
	height: 710px;
	padding-left: 0;
	
	background-color: rgb(173, 255, 47);
	margin-left: 32.5%;
	margin-right: 32.5%;
	margin-top: 0;
	border:5px solid rgb(138, 43, 226);
	border-radius: 15px;
}
#title{
	margin-top:50px;
	text-transform: uppercase;
	text-align: center;
	color:rgb(138, 43, 226);
	font-size:45px;
}
#play{
	width:50%;
	height: 8%;
	margin-top:5%;
	margin-left:24%;
	border:5px solid rgb(138, 43, 226);
    border-radius: 15px;
}

#records{
	width:50%;
	height: 8%;
	margin-top:5%;
	margin-left:24%;
	border:5px solid rgb(138, 43, 226);
    border-radius: 15px;
}

#close{
	width:50%;
	height: 5%;
	margin-top:5%;
	margin-left:24%;
	border:5px solid rgb(138, 43, 226);
    border-radius: 15px;

}
#refund{
	display: none;
	width:60%;
	height: 8%;
	margin-top:100%;
	margin-left: 20%;
	border:5px solid rgb(138, 43, 226);
    border-radius: 15px;
}
#clearRecords{
	display: none;
	width:60%;
	height: 8%;
	margin-left: 20%;
	margin-top:10%;
	border:5px solid rgb(138, 43, 226);
    border-radius: 15px;
}
#image{
	margin-top: 50px;
	margin-left:30%;
	width:45%;
	height: 26.7%;
	background-image: url(character.png);
	margin-bottom: 0px;
}
#mpause_h{
	color:white;
}

#line{
	position: absolute;
	width: 98.5%;
	height: 6%;
	margin-top: 0px;
	background-color:rgb(138, 43, 226);
	display: none;
	border:5px solid rgb(138, 43, 226);
}

#game {
	position: relative;
	margin-top: 6%;
	background-color: rgb(173, 255, 47);
	overflow: hidden;
	position: absolute;
	opacity:1;
	display: none;
}
#game1{
	position: absolute;
	margin-top:30px;
	z-index: 0;
	display: none;
}
#game_over{
	position: absolute;
	display: none;
	background-color: red;
	width: 60%;
	height: 40%;
	margin-left:20%;
    margin-top: 40%;
	z-index: 1;
	border-radius: 15px;
	border:5px solid rgb(138, 43, 226);

}
#text_game_over{
	color:white;
	font:25px sans-serif;
	margin-left: 17%; 


}
#reset{
   position:absolute;
   width:80%;
   height: 20%;
   margin-left:10%;
   border-radius: 15px;
   border:5px solid rgb(138, 43, 226);
}
#exit1{
   position:absolute;
   width:80%;
   height: 20%;
   margin-left:10%;
   margin-top: 30%;
   border-radius: 15px;
   border:5px solid rgb(138, 43, 226);
}

#pause{
	position: absolute;
	margin-right: 80%;
	width: 100px;
	height: 100%;
    background-color:rgb(138, 43, 226);
    border:0;
    bottom:10px;
    font-size: 25px;
    color: white;
}
#score{
	position: absolute;
	margin-left: 70%;
	width: 100px;
	height: 100%;
	background-color:red;
    bottom:10px;
    font-size: 25px;
    color: white;
    text-align: center;	
}
#table_rec{
	position: absolute;
	display: none;
    margin-left:10%;
    margin-top:10%;
    width:80%;
    height:50%; 
    border:5px solid rgb(138, 43, 226);
    border-radius: 15px;
    background-color: white;
}

.result{
	font-size: 25px;
	margin-top:10%;
	color:black;
    width: 100;
	height: 10%;
	background-color: red;
	color:white;

}
#mpause{
	position: absolute;
	width: 50%;
    height:35%;
    margin-top:20%;
    margin-left:25%;
    background-color:red;
    border:5px solid rgb(138, 43, 226);
    border-radius: 15px;
    z-index: 1;

}	
#mpause{
	color:black;
	text-align: center;
	display: none;
	}
#resume{
	margin-top:5%;
	height: 20%;
	width: 80%;
    border:5px solid rgb(138, 43, 226);
    border-radius: 15px;

}	
#exit{
	margin-top:10%;
	height: 20%;
	width: 80%;
	border:5px solid rgb(138, 43, 226);
    border-radius: 15px;

}
#instruction{
	width:50%;
	height: 8%;
	margin-top:5%;
	margin-left:24%;
	border:5px solid rgb(138, 43, 226);
    border-radius: 15px;
}
#text_help{
	border:5px solid rgb(138, 43, 226);
	width:80%;
	height: 80%;
	display: none;
	background-color: #fff;
	border-radius: 15px;
	margin-left:9%;
	margin-top: 10%;

}
#headHelp{
  width:100%;
  margin-top: 5%;
  background-color: #fff;
  text-align: center;
}
#bodyHelp{
  width:100%;
  margin-top: 5%;
  background-color: #fff;
  height: 80%;
  line-height: 1.5;
}
#refInstruction{
	width:40%;
	margin-left:30%;
	margin-top: 5%;
	height: 5%;
	border:5px solid rgb(138, 43, 226);
    border-radius: 15px;
    display: none;
}
h2{
	color:white;
}

#confirm{
	position: absolute;
	width: 60%;
    height:30%;
    margin-top:20%;
    margin-left:20%;
    background-color:red;
    border:5px solid rgb(138, 43, 226);
    border-radius: 15px;
    z-index: 1;
    display: none;	

}	
#confirmYes{
	height: 20%;
	width: 60%;
	margin-left:20%;
    border:5px solid rgb(138, 43, 226);
    border-radius: 15px;
}	
#confirmNo{
	margin-top:5%;
	height: 20%;
	width: 60%;
	margin-left:20%;
    border:5px solid rgb(138, 43, 226);
    border-radius: 15px;
}	
#confirmClear{
	position: absolute;
	top:40%;
	width: 60%;
    height:40%;
    margin-left:20%;
    background-color:red;
    border:5px solid rgb(138, 43, 226);
    border-radius: 15px;
    z-index: 0;
    display: none;	

}	
#Yes{
	height: 15%;
	width: 60%;
	margin-left:20%;
    border:5px solid rgb(138, 43, 226);
    border-radius: 15px;
}	
#No{
	height:15%;
	width: 60%;
	margin-top:10%; 
	margin-left:20%;
    border:5px solid rgb(138, 43, 226);
    border-radius: 15px;
}	
